/* =========================
   RESET
========================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* =========================
   HERO SECTION (พื้นหลังแบบภาพตัวอย่าง)
========================= */
.hero{
    width: 100%;
    min-height: 100vh;
    background:
        linear-gradient(
            to bottom,
            rgba(255, 220, 225, 0.85),  /* ชมพูอ่อนด้านบน */
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.3)
        ),
        url("pic/sea.jpg");            /* รูปทะเล */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* =========================
   NAVBAR
========================= */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.logo{
    width: 120px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 20px;
    font-size: 15px;
}

/* =========================
   CONTENT
========================= */
.content{
    padding: 120px 80px;
    max-width: 600px;
}

.content h1{
    font-size: 64px;
    font-weight: 800;
    color: #222;
    line-height: 1.1;
    margin-bottom: 25px;
}

.content p{
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 35px;
}


.btn {
    background: linear-gradient(90deg, #ff4fc3, #a64bf4);
    color: #fff;
    padding: 14px 32px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    border-radius: 30px;
    border-top-left-radius: 0%;
    transition: all  0.9s ease;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  }
  
  
  .btn:hover {
  background: linear-gradient(90deg, #2c2730, #ff4fc3);
  border-top-left-radius: 30px;
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  }

/* =========================
   IMAGE (นางแบบด้านขวา)
========================= */
.Features-img{
    width: 420px;
    position: absolute;
    right: 80px;
    bottom: 0;
}


